<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose an action:</p>
    <form method="get" action="/Home/guest_card_create3">
        <button type="submit" class="btn btn-primary">방문증 새로 제작</button>
    </form>
    <form method="get" action="/Home/guest_card_create">
        <button type="submit" class="btn btn-secondary">방문증 등록</button>
    </form>
    <form method="get" action="/Home/guest_card_receive">
        <button type="submit" class="btn btn-secondary">방문증 반납</button>
    </form>
</div>